body{
    margin: 0;
    background-color: black;
}
#correctWidth{
    height: 100vh;
    width: 800px;
    background-color: white;
    margin: 0 auto;
}
#chat{
    width: 700px;
    padding: 50px;
}