body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    font-family: "Ubuntu", "Georgia", sans-serif;
    background-color: #BBF;
    text-align: center;
}
table{
    border-collapse: collapse;
    background-color: white;
}
#mainTable{
    width: 1000px;
    margin: 30px auto 0 auto;
    height: 600px;
}
#pricesTable{
    margin: 0 auto;
}
#pricesTable td{
    width: 50px;
}
#resourceRow > td:not(#pricesTD){
    background-color: #EEE;
    width: 330px;
}
#pricesTD{
    background-color: #FFE9D0; 
}
#pricesTable td{
    padding: 10px;
}
.resourcesTable td{
    padding: 15px;
}
#resourceRow{
    height: auto;
}
#infoRow{
    height: 120px;
}
.moneyInfo{
    float: left; 
    padding: 10px;
    text-align: center;
    font-size: 36px;
    height: 100px;
    width: 100px;
    background-color: #9FA;
}
.factoryInfo{
    float: left;
    background-color: #FB9;
    text-align: center;
    font-size: 20px;
    padding: 20px 15px 0 15px;
    height: 100px;
    width: calc(100% - 150px);
}
.info{
    width: 200px;
}
#cardsForSaleTable{
    margin: 0 auto;
}
#cardsForSaleTable td{
    width: 100px;
    height: 150px;
}
#cardsForSaleTD{
    background-color: #FFE9D0;
}
#cardsForSaleTable{
    text-align: center;
}
.greenText{
    color: #007019;
}
.resourcesTable{
    margin: 0 auto;
    width: 240px;
}
td{
    border: 1px solid black;
}