#canvas{
    width: 800px;
    height: 594px;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
}
#canvasHolder{
    margin: 20px auto;
    padding: 0;
    border: 1px solid black;
    width: 800px;
    height: 594px;
}
img{
    display: none;
}