body{
	margin: 0;
	background-color: white;
}
#all{
	margin: 20px auto;
	width: 760px;
}
.item{
	background-color: white;
	height: 300px;
	transition: 0.4s;
	padding: 30px;
}
.item:not(.no_hover):hover{
	background-color: #EEE;
	cursor: pointer;
}
.middlePicture{
	float: left;
	width: 400px;
	height: 300px;
}
.itemDescription{
	float: left;
	width: 240px;
	margin: 0 30px;
	text-align: justify;
	font-family: "Ubuntu", Arial, sans-serif;
}
.itemHeader{
	font-size: 26px;
	text-align: center;
}
a *:hover{
	font-size: 16px;
}
#logo{
	width: 700px;
	display: block;
	margin: 0 auto;
}
#navigation{
	width: 758px;
	margin: 0 auto;
	height: 55px;
	font-size: 14px;
	font-family: "Ubuntu", Arial, sans-serif;
	background-color: #222;
}
#navigation div{
	width: 252px;
	height: 100%;
	color: #F0F0F0;
	text-align: center;
	text-decoration: none;
	font-size: 24px;
	line-height: 55px;
	float: left;
}
/*All navigation divs except the last*/
.rightBorder{
	border-right: 1px solid #666;
}
a{
	text-decoration: none;
}
#logoHolder a{
	display: block;
	width: 700px;
	margin: 0 auto;
}
#navigation *:hover{
	transition: 0.3s;
	background-color: #444;
}
#navigation *:active{
	transition: 0.3s;
	background-color: #555;
}